@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    --color-primary: #B44143;
    --color-back: #BD4749;
    --color-secondary: #c45a5c;
    --color-muted: #D99697;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

  }

  @import "../public/styles/red.css";
  @import "../public/styles/blue.css";
  @import "../public/styles/green.css";
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-back text-white;
  }
}